.contact {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 3.15rem 0; 
}

.contact__title {
    margin: 6rem 0 2.5rem 0.75rem;
  }

.contact__addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.contact__address {
    padding: 0 1.5rem;
  }

  .contact__asid {
    max-width: 100%;
    overflow: hidden;
    border-radius: var(--value-radius-img);
}

@media (max-width: 768px) {
    .contact__title {
      margin: 2.25rem 0 0.5rem 2.25rem
    }
  
    .contact__addressContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }
  
    .contact__address {
      padding: 0 0;
      margin: 0 0 0.75rem 0;
      text-align: center;
    }
  
    .contact__addressTitle {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
  
  .contact__asid{
    display: none ;
  }
} 
