.redSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background-color: var(--red-highlight);
    justify-content: center;
    padding: 3.75rem 0 3.75rem 0;
}

.redSpace__title {
        font-weight: var(--body-hightlight-font-weight);
        margin: 0 0 1rem 0;
}

@media (max-width: 768px) {
    .redSpace {
      padding: 2.75rem 0 2.75rem 0;
    }
  
    .redSpace__title {
      margin-bottom: 2rem;
    }
  }