@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Bebas Neue:wght@400;600&display=swap');

/*modules et pages*/
@import '/styles/modules/appBar.css';
@import '/styles/pages/home.css';
@import '/styles/modules/cta.css';
@import '/styles/modules/redSpace.css';
@import '/styles/modules/footer.css';
@import '/styles/modules/contactInfo.css';
@import '/styles/pages/menu.css';
@import '/styles/pages/contact.css';

/* creation d'un design systeme */

/*la pseudo-classe root pour ajouter des regles css globales*/
:root{
    /*colors*/
    --red-highlight: #D2483D;
    --light-grey: #F3F3F3;
    --black: #000000;
    --white: #FFFFFF;

    /* Text*/
    --body-font: 'Montserrat';
    --body-highlight-font: 'Montserrat';
    --header-font: 'Bebas Neue';
    --title-font: 'Bebas Neue';

    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;

    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    --body-line-height: 1.5rem;
    --body-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;
    --title-line-height: 1.75rem;

    /*elements */
    --value-radius-img:1rem;
    --value-radius-btn:0.65rem;

    body {
        background-color: var(--light-grey);
        font-family: var(--body-font);
        font-style: normal;
        font-weight: var(--body-font-weight);
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        color: var(--black);
    }

    h1 {
        font-family: var(--header-font);
        font-style: normal;
        font-weight: var(--header-font-weight);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        color: var(--black);
    }

    h2 {
        font-family: var(--title-font);
        font-style: normal;
        font-weight: var(--title-font-weight);
        font-size: var(--title-font-size);
        line-height: var(--title-line-height);
        color: var(--black);
        text-decoration: underline var(--red-highlight);
        text-decoration-thickness:0.188rem;
        text-underline-offset: 0.25rem;
    }
} 


@media (max-width: 768px) {
    :root {
      /* variables pour mobile*/
      
      --body-font-size: 1rem;
      --body-highlight-font-size: 1rem;
      --header-font-size: 2.5rem;
      --title-font-size: 1.25rem;
  
      --body-line-height: 1.25rem;
      --body-highlight-line-height: 1.25rem;
      --header-line-height: 3rem;
      --title-line-height: 1.5rem;
    }
}